nav  {
    height: 8vh;
    width: 100vw;
    position: relative;
    background-color: white;
}


/*logo*/
nav > div:first-child {
    position: absolute;
    height: 5vh;
    width: 15vw;
    background-color: white;
    left: 2vw;
    top: 1vh;

}

nav > div > img {
    max-height: 100%;
    max-width: 100%;

}


/*navbar options*/
nav > div:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    height: max-content;
    width: max-content;
    background-color: white;
    right: 1vh;

}

nav > div:nth-child(2) > ol > li {
    display: inline-block;
    margin: 2vh;
    margin-top: 1vh;

}


/*side bar*/
section {
    font-family: 'Roboto', sans-serif;
    display: flex;
    width: 100vw;;
    position: relative;

}

section > main:first-child {
    width: 17vw;
    background-color: #4C0083;
}

section > main:first-child > ol > li {
    margin-top: 3vh;
    display: block;
    color: white;
}


/*content*/
section > main:nth-child(2) {
    border-top: 4px solid black;
    width: 81vw;
    background-color: white;
    padding: 1vw;

}

section > main:nth-child(2) > div {
    display: flex;
    width: 81vw;
    height: auto;
    border: 2px solid red;
    border-bottom: 2px solid green;
    padding-right: 4px;

}

section > main:nth-child(2) > p {
    justify-content: center;
}

section > main:nth-child(2) > div > img {
    width: 27vw;
    height: auto;
    padding: 0;

}

section > main:nth-child(2) > div > img:nth-child(2) {
    border-left: 2px solid green;
    border-right: 2px solid green;
}

body > div {
    background-color: grey;
    width: 98vw;
    height: auto;
    text-align: center;
    padding: 1vw;
    font-family: 'Roboto', sans-serif;

}

/*fonts*/
